
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v27-latin-100.woff2") format("woff2"), url("../fonts/roboto-v27-latin-100.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v27-latin-300.woff2") format("woff2"), url("../fonts/roboto-v27-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin-900.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.decor-none {
  text-decoration: none;
}

.type-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container-big {
  max-width: 1040px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 610px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header__top,
.site-header__bottom {
  width: 100%;
  border-bottom: 1px solid #F4F4F4;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-header__top-blocks {
  height: 80px;
}

.site-header__top-blocks:not(:last-child) {
  border-right: 1px solid #F4F4F4;
}

.site-header__top-blocks:first-child {
  padding-left: 0;
}

.site-header__top-blocks:last-child {
  padding-right: 0;
}

.site-header__logo-link{
  display: block;
  margin-top: 27px;
  margin-right: 19px;
}

.site-header__logo-img {
  display: block;
  width: 32px;
  height: 28px;
}

.site-header__form-div {
  /* width: 145px; */
  border: 1px solid #F4F4F4;
  border-radius: 15px;
  margin-top: 26px;
  margin-right: 22px;
  margin-left: 20px;
}

.site-header__form-input-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}

.site-header__input {
  width: 112px;
  border: none;
  font-size: 12px;
  color: #836C66;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
}

.site-header__input:focus {
outline: none;
}

.site-header__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-header__btn-img {
  display: block;
  width: 14px;
  height: 14px;
}

.site-header__top-nav{
  margin-top: 14px;
  margin-left: 31px;
  margin-right: 31px;
}

.top-nav__list {
  /* width: 486px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-nav__link{
  display: block;
  padding: 16.5px;
  font-size: 15px;
  white-space: nowrap;
  color: #33334C;
  transition: transform 0.2s ease;
}

.top-nav__link:hover{
  transform: translateY(-3px);
}

.top-nav__link:active{
  transform: translateY(0);
}

.top-nav__link--red-text {
  color: #FE6E7C;
}

.site-header__notions {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 21px;
}

.notions__list {
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notions__img {
  display: block;
  width: 18px;
  height: 18px;
  transition: transform 0.2s ease;
}

.notions__img:hover{
  transform: translateY(-3px);
}

.notions__img:active{
  transform: translateY(0);
}

.site-header__avatar {
  margin-top: 21px;
  margin-right: 0;
  margin-left: 19px;
}

.small-avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.bottom-nav {
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.bottom-nav__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.bottom-nav__link {
  display: block;
  padding-left: 27px;
  padding-right: 26px;
  padding-bottom: 10px;
  font-size: 13px;
  color: #33334C;
  border-bottom: 2px solid transparent;
  transition: border 0.2s ease;
}

.bottom-nav__link--active {
  border-bottom: 2px solid #5EB5E6;
}

.bottom-nav__link:hover {
  border-bottom: 2px solid #5EB5E6;
}

.first-link {
  padding-left: 20px;
}

.site-nain {
  background-color: #F6F8F9;
  padding-top: 20px;
}

.main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* ================LEFT========================= */

.main-wrapper__left {
  width: 200px;
  background-color: #fff;
  border: 1px solid #E8F4FC;
}

.left__profile {
  padding: 20px;
}

.left__avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.left__name {
  font-weight: bold;
  text-align: center;
  color: #333333;
  margin-top: 12px;
  margin-bottom: 0;
  letter-spacing: 0.7px;
}

.left__position {
  text-align: center;
  font-size: 12px;
  color: #333333;
  margin-top: 3px;
  margin-bottom: 0;
  margin-left: 5px;
  letter-spacing: 0.4px;
}

.left__greater {
  color: #AAACB6;
  text-align: center;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
  letter-spacing: 0.4px;
}

.left__follow-btn {
  display: block;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  background-color: #5EB5E6;
  color: #FFFFFF;
  border: none;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.left__follow-btn:hover {
  background-color: #338abd;
}

.left__follow-btn:active {
  opacity: 0.7;
}

.left__connect-btn {
  display: block;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  background-color: #FFFFFF;
  color: #5EB5E6;
  border: 1px solid #5EB5E6;
  cursor: pointer;
  padding-left: 9px;
  transition: opacity 0.2s ease;
}

.left__connect-btn:hover {
  opacity: 0.8;
}

.left__connect-btn:active {
  opacity: 0.5;
}

.left__connect-btn::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../img/arrow-down.png);
  background-position: top 3px left;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.digits {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.digits__connect,
.digits__follow {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 18px;
  padding-left: 21px;
  text-align: center;
}

.digits__connect {
  border-right: 1px solid #F1F1F1;
}

.digit {
  display: block;
  margin-left: -5px;
  font-weight: bold;
  color: #333333;
}

.text {
  display: block;
  font-size: 13px;
  color: #AAACB6;
  margin-top: -5px;
  margin-bottom: -3px;
}

.left__links {
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
  border-bottom: 1px solid #F1F1F1;
}

.left__links-link {
  text-decoration: none;
  color: #AAACB6;
  font-size: 12px;
  letter-spacing: 0.2px;
  display: block;
  margin-bottom: 0px;
}

.left__links-link:hover {
  text-decoration: underline;
}

.left__links-link:active {
  text-decoration: none;
}

.web-link {
  position: relative;
  margin-left: 22px;
  margin-top: 7px;
}

.linkedin-link::before{
  display: inline-block;
  content: "";
  width: 23px;
  height: 10px;
  background-image: url(../img/link-linked.png);
  background-position: top 0 left;
  background-size: 20px 14px;
  background-repeat: no-repeat;
}

.web-link::before{
  display: block;
  content: "";
  width: 23px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -22px;
  background-image: url(../img/link-site.png);
  background-position: top 3px left;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.left__export {
  padding: 20px;
  padding-left: 22px;
  padding-top: 13px;
}

.left__export-link {
  color: #AAACB6;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.left__export-link::before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/export.png);
  background-position: top 7px left -2px;
  background-size: 18px 20px;
  background-repeat: no-repeat;
}

/* ================MIDDLE========================= */

.main-wrapper__middle {
  width: 610px;
}

.middle__wrapper {
  background-color: #fff;
  border: 1px solid #E8F4FC;
  margin-bottom: 20px;
}

.middle__wrapper-heading {
  border-bottom: 1px solid #F1F1F1;
}

.middle__wrapper-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 14px;
}

.middle__heading {
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 1px;
  margin-bottom: 0;
}

.middle__top-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.middle__top-btns-to-left {
  display: block;
  width: 30px;
  height: 31px;
  border: 1px solid #0706F0;
  border-radius: 15px;
  background-image: url(../img/arrow-left-blue.png);
  background-position: center;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  margin-right: 5px;
  transition: opacity 0.2s ease;
}

.middle__top-btns-to-left:hover,
.middle__top-btns-to-right:hover {
  opacity: 0.5;
}

.middle__top-btns-to-right {
  display: block;
  width: 30px;
  height: 31px;
  border: 1px solid #0706F0;
  border-radius: 15px;
  background-image: url(../img/arrow-right-blue.png);
  background-position: center;
  background-size: 16px 18px;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease;
}

.middle__wrapper-articles {
  margin-bottom: 0;
}

.middle__articles-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.middle__articles-item {
  width: 175px;
}

.middle__articles-link {
  display: block;
  color: #333333;
  font-size: 15px;
  line-height: 19px;
}

.middle__articles-link:hover {
  text-decoration: underline;
}

.middle__articles-img {
  width: 175px;
  height: 175px;
  display: block;
  margin-bottom: 10px;
}

.middle__articles-date {
  color: #AAACB6;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 18px;
}

.middle__heading--background {
  margin-top: 8px;
  margin-bottom: 3px;
}

.background__wrapper {
  padding-left: 35px;
}

.background__heading {
  position: relative;
  font-size: 20px;
  margin-top: 17px;
  margin-bottom: 0;
}

.background__heading--summary::before {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1px;
  left: -38px;
  background-image: url(../img/summary.png);
  background-repeat: no-repeat;
  background-size: 33px 27px;
}

.background__text {
  color: #333333;
  font-size: 14px;
  margin-top: 6px;
  line-height: 20px;
}

.background__heading--experience {
  
letter-spacing: -0.2px;
}

.background__heading--experience::before {
  display: block;
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(../img/experiance.png);
  background-repeat: no-repeat;
  background-size: 25px 28px;
  top: 1px;
  left: -35px;
}

.background__heading--education::before {
  display: block;
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(../img/education.png);
  background-repeat: no-repeat;
  top: 1px;
  background-size: 26px 25px;
  left: -35px;
}

.background__heading--skills {
  letter-spacing: -0.5px;
}

.background__heading--skills::before {
  display: block;
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background-image: url(../img/skills.png);
  background-repeat: no-repeat;
  background-size: 24px 30px;
  top: -2px;
  left: -34px;
}

.background__heading--interests::before {
  display: block;
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url(../img/interests.png);
  background-repeat: no-repeat;
  background-size: 23px 23px;
  top: 4px;
  left: -34px;
}

.background__list {
  list-style-type: none;
  padding-left: 20px;
}

.background__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0px;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: -20px;
}

.line__line {
  display: block;
  width: 1px;
  height: 73px;
  background-color: #E3E3E3;
}

.line__circle {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}

.background__period {
  color: #AAACB6;
  font-size: 11px;
  margin-top: -11px;
  margin-bottom: 0;
}

.background__position {
  color: #333333;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0;
  letter-spacing: 0.4px;
}

.background__organ {
  text-decoration: none;
  color: #8FAEED;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 27px;
  display: block;
}

.background__organ:hover {
  text-decoration: underline;
}

.background__item:last-child .background__organ {
  margin-bottom: 1px;
}

.background__img-microsoft {
  display: block;
  margin-top: -3px;
  margin-right: 5px;
}

.background__img-youtube {
  display: block;
  margin-top: -13px;
  margin-right: -5px;
}

.background__skills-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.background__skills-wrapper-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
}

.background__skills-wrapper-left-digit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid #333333;
  margin-right: 20px;
}

.background__skills-wrapper-left-text{
  font-size: 16px;
  letter-spacing: -0.6px;
}

.background__skills-wrapper-right-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 7px;
}

.background__skills-wrapper-right-list::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "71+";
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #EFEFEF;
  font-size: 11px;
  margin-left: 12px;
}

.list-second::after {
  content: "17+";
}

.background__skills-wrapper-right-img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 14px;
}

.background__heading-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 7px;
}

.background__heading-text {
  background-color: #F2F2F2;
  margin-right: 9px;
  margin-top: 7px;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 0.1px;
}

.recomendations__wrapper {
  margin-top: 10px;
}

.recomendations__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 21px;
}

.recomendations__item {
  width: 175px;
}

.recomendations__text {
  width: 177px;
  padding-top: 20px;
  padding-left: 21px;
  padding-right: 16px;
  padding-bottom: 20px;
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  background-color: #fff;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  border: 1px solid #F1F1F1;
}

.recomendations__bottom-text {
  border-left: 33px solid #F1F1F1;
  border-bottom: 33px solid transparent;
  position: absolute;
  margin-top: -41px;
  z-index: 0;
}

.recomendations__bottom-text-in {
  border-left: 40px solid #ffffff;
  border-bottom: 40px solid transparent;
  position: absolute;
  margin-top: -10px;
  margin-left: -32px;
  z-index: 100;
}

.middle__heading--following {
  margin-top: 5px;
  margin-bottom: 5px;
}

.following__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 17px;
}

.following__item {
  width: 127px;
}

.following__brand-box {
  width: 127px;
  height: 73px;
  border: 1px solid #F1F1F1;
  background-repeat: no-repeat;
}

.following__item:nth-child(odd) .following__brand-box {
  background-image: url(../img/logo-microsoft.png);
  background-size: 84px 29px;
  background-position: left 21px top 21px;
}

.following__item:nth-child(even) .following__brand-box {
  background-image: url(../img/logo-amazon.jpg);
  background-size: 85px 28px;
  background-position: left 21px top 22px;
}

.following__text {
  font-size: 15px;
  color: #333333;
  margin-top: 18px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.following__link {
  color: #68AEEF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 0px;
}

.following__link:hover span {
  text-decoration: underline;
}

.following__link span {
  margin-top: 2px;
}

.following__link::before {
  display: flex;
  content: "+";
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  margin-top: 3px;
  margin-right: 7px;
  border: 1px solid #68AEEF;
  border-radius: 10px;
}

.following__bottom-link {
  display: block;
  color: #68AEEF;
  padding-top: 6px;
  padding-left: 31px;
  width: 136px;
  height: 34px;
  border: 1px solid #68AEEF;
  border-radius: 17px;
  font-size: 15px;
  margin-bottom: 20px;
  transition: opacity 0.2s ease;
}

.following__bottom-link:hover {
  opacity: 0.5;
}


/* ================RIGHT========================= */

.main-wrapper__right {
  width: 150px;
}

.right__heading {
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-top: -2px;
}

.right__viewed {
  margin-bottom: 40px;
}

.right__profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 0px;
}

.middle__profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: -9px;
}

.right__avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 4px;
  margin-right: 10px;
}

.right__profile-info {
  padding-top: 5px;
}

.right__profile-name {
  color: #333333;
  letter-spacing: -0.5px;
}

.right__profile-organ {
  color: #AAACB6;
  font-size: 13px;
  margin: 0;
}

.right__influen {
  padding-top: 6px;
}

.right__influen-img-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.right__influen-img-wrap::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow-left.png);
  background-position: 0 0;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  margin-top: 63px;
  margin-right: 4px;
}

.right__influen-img-wrap::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow-right.png);
  background-position: 0 0;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  margin-top: 65px;
  margin-left: 4px;
}

.right__influen-img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.right__influen-name {
  display: block;
  text-align: center;
  color: #333333;
  font-size: 18px;
  margin-top: 11px;
}

.right__influen-organ {
  font-size: 13px;
  text-align: center;
  color: #AAACB6;
  margin: 0;
}

.site-footer {
  border-top: 1px solid #DEDEDE;
  background-color: #F6F8F9;
  padding-bottom: 13px;
}

.footer-text {
  margin-top: 18px;
  margin-left: 4px;
  letter-spacing: -0.1px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 15px;
}
